<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>幻灯片</title>
	<style type="text/css">
		*{margin: 0;padding: 0}
		.slide{width: 200px;height: 100px;background-color: rgb(189,215,238);position: relative;}
		.slide .pointer{position: absolute;bottom: 10px;right: 10px;}
		.slide .pointer i{display:inline-block; width:10px;height: 10px; border-radius: 50%;background-color: #000;margin-left: 5px;}
		.slide .pointer .current{background-color: #fff;}
	</style>
</head>
<body>
	<div class="slide">
	<!-- 图片省略 -->
	<!-- 以下是指示器 -->
	<div class="pointer"><i class="current"></i><i></i><i></i></div>
	</div>
</body>
</html>
