<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tab</title>
	<style type="text/css">
		*{margin: 0;padding: 0}
		body{font:14px "microsoft yahei";}
		#tab-list{box-sizing: border-box;width: 574px;background-color: #fff;border: solid 1px #999;}
		ul{text-align: center;height: 2em;line-height:2em;background-color: #f1f1f1;display: flex;list-style: none;}
		li{flex-direction: row;flex:1;border-bottom:solid 1px #cecece; }
		.tab2{border-left: solid 1px #cecece;border-right: solid 1px #cecece;}
		li:hover{border-bottom:none;background-color:#fff; }
		.study{padding: 20px;}
		.option2,.option3{display: none;}

	</style>
</head>
<body>
	<div id="tab-list">
		<ul>
			<li class="tab1">课程</li>
			<li class="tab2">学习计划</li>
			<li class="tab3">技能图谱</li>
		</ul>
		<div>
			<p class="study option1">课程内容:实现一个Tab<br/>
			请按以下效果图和图中标注完成HTML和CSS:<br/>
			默认第一个Tab为选中状态。<br/>
			补充说明：实现静态效果即可，不用实现点击切换</p>
			<p class="study option2">学习计划内容</p>
			<p class="study option3">技能图谱内容</p>
		</div>
	</div>
</body>
</html>
