/* 重置 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
html,body,fieldset,img,iframe,abbr,input{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
textarea{overflow:auto;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a{text-decoration:none;}
a:hover{text-decoration: underline;}
body,textarea,input,button,select,keygen,legend,a{font:12px/1.14 "microsofo yahei";color:#000;outline:0;}
body{background:#fff;}
p,span,li,a,button{display:inline-block;}
/* 背景图 */
.m-ad span,.z-close,.u-yet,.u-sch,.u-sch:hover,.img,.num span{background:url(image/sprite.png) no-repeat 9999px 9999px;}
.u-weibo span{background:url(image/weibo.png) no-repeat 9px;}
.m-tt, .m-cprt h2{background:url(image/tt.png) no-repeat 9999px 9999px;}
.m-log .u-btn{background:url(image/log.png) no-repeat;}
/* 布局 */
.g-top{height:36px;background-color:#f3f3f3;}
.g-hd{height:89px;}
.g-box{height:1560px;background-color:#f8f8f8;}
.g-mn{position:relative;float:left;width:100%;height:1560px;}
.g-mnc{margin-right:228px;}	
.g-sd{position:relative;float:right;width:225px;margin-left:-225px;}
.g-ft{height:275px;background-color:#2c3339;}
/* 模块 */
/* 顶部通知条 */
.m-ad{line-height:36px;color:#333;}
.m-ad a{color:#21a557;}
.m-ad button{float:right;height:36px;line-height:36px;background:none;border:0;}
.m-ad span{width:16px;height:10px;vertical-align:middle;background-position:-9px -37px;}
/* 头部 */
.m-tt, .m-fan .u-btn, .u-btn-yes{display:inline-block;}
.m-tt{width:236px;height:22px;float:left;margin-top:31px;text-indent:-9999px;background-position:-7px -15px;}
.m-fan{margin:31px;float:left;font-family:"SimSum";}
.m-fan button{width:54px;height:21px;line-height:21px;border:0;border-radius:1px;background:none;background-color:#21a557;color:#fff;}
.m-fan .u-tips{width:104px;height:19px;line-height:19px;border:1px solid #efefef;border-radius:1px;background-color:#f8f8f8;color:#333;}
.m-fan .u-tips:hover{background-color:#fff;}
.m-fan .u-yet{width:22px;height:12px;vertical-align:text-top;background-position:0 -5px;}
.m-fan .u-bar{padding:0px 7px;}
.m-fan .u-cancel{color:#999;}
.m-fan .u-cancel:hover{color:#21a557;}
.m-fan button span{vertical-align:middle;font-weight:bold;font-size:16px;}
.m-fan button:hover{background-color:#2fb556;}
.m-fan p{padding:0 14px;color:#666;}
/* 导航栏 */
.u-sch{float:right;width:20px;height:20px;margin-top:35px;margin-right:14px;border:0;background-position:-27px -4px;}
.u-sch:hover{background-position:-28px -32px;}
.m-nav{line-height:89px;}
.m-nav li{float:right;margin-right:55px;}
.m-nav .mooc{margin-right:30px;}
.m-nav li a{font-size:16px;color:#666;}
.m-nav li a:hover{text-decoration:none;color:#39a030}
/* 轮播图 */
.m-sld{position:relative;display:inline-block;width:100%;height:460px;overflow:hidden;}
.m-sld img{position:absolute;left:50%;transform:translateX(-50%);}
.m-sld .u-dots{position:absolute;bottom:20px;left:50%;transform:translateX(-50%);}
.m-sld .u-dots li{margin:0 5px;width:10px;height:10px;border-radius:50%;background-color:#fff;cursor:pointer;}
.m-sld .u-dots .z-crt{background-color:#333;}
/* 课程介绍 */
.m-menu li{position:relative;float:left;margin-left:77px;padding:60px 0px 60px 108px;width:240px;height:175px;}
.m-menu .open{margin-left:0px;}
.m-menu .img{position:absolute;top:69px;left:8px;width:80px;height:80px;}
.m-menu .img1{background-position:-2px -63px;}
.m-menu .img2{background-position:-87px -63px;}
.m-menu .img3{background-position:-172px -63px;}
.m-menu h2{margin-bottom:15px;color:#333;font-size:21px;}
.m-menu p{color:#666;font-size:14px;line-height:24px;}
.m-menu a{padding-top:30px;color:#39a030;font-size:14px;}
/* 工作环境 */
.m-work{position:relative;display:inline-block;width:100%;height:220px;overflow:hidden;}
.m-work img{position:absolute;left:50%;transform:translateX(-50%);}
/* tab */
.m-tab{margin:81px 579px 9px 1px;box-shadow:0 1px 0 1px #ecebeb;}
.m-tab li{float:left;border-bottom:1px solid #d4d3d3;background-color:#fff;text-align:center;}
.m-tab li a{width:200px;height:50px;line-height:50px;font-size:19px;}
.m-tab li .z-crt{background-color:#39a030;color:#cae6c8;}
.m-tab li a:hover{text-decoration:none;}
/* 课程 */
.m-mbox{position:relative;float:left;margin:18px 18px 0 0;}
.m-cur{width:225px;height:228px;border:1px solid #fff;border-bottom-color:#e6e6e6;box-shadow:0 1px 0 1px #f1f1f1;background-color:#fff;font-size:13px;cursor:pointer;}
.m-cur:hover{border:1px solid #e6e6e6;}
.m-cur .pic1{width:223px;height:124px;margin:1px;overflow:hidden;}
.m-cur .pic1 img{width:100%;}
.m-cur h3 a{width:210px;margin:9px 11px 9px 5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#666;}
.m-cur h3 a:hover{color:#39a030;text-decoration:none;}
.m-cur .pro{margin-left:5px;color:#999;}
.m-cur .num{display:inline-block;margin:10px 5px;border:1px solid #e1e1e1;border-radius:2px;}
.m-cur .num span{float:left;margin:2px;}
.m-cur .num p{height:16px;line-height:16px;margin-right:3px;font-size:8px;color:#999;}
.m-cur .price{margin-left:6px;color:#ff3f00;font-size:11px;}
.num span{width:10px;height:11px;background-position:-64px -35px;}
/* 课程浮窗 */
.m-air{position:absolute;top:-10px;left:-10px;z-index:999;width:479px;border:1px solid;border-color:#d0cfd0 #d1d0d0 #c1c0c0 #d3d1d2;background-color:#fff;color:#666;box-shadow:1px 1px 1px 1px #e5e4e4;}
.m-air .pic2{float:left;width:223px;height:124px;margin:11px;}
.m-air .pic2 img{width:100%;}
.m-air .ct{float:left;width:226px;height:124px;margin:11px 0 0 8px;}
.m-air h3{margin-top:5px;font-size:18px;color:#333;}
.m-air .num{margin-top:18px;font-size:12px;color:#8f8f8f;}
.m-air .num p{margin-left:6px;}
.m-air .pro{margin-top:15px;}
.m-air .cate{margin-top:7px;}
.m-air .des{float:left;width:100%;margin-top:8px;background-color:#f8f8f8;}
.m-air .des p{margin:22px;font-size:14px;line-height:24px;}
/* 翻页器 */
.m-pd{position:absolute;bottom:120px;right:253px;height:20px;}
.m-pd li{width:20px;height:20px;margin-right:8px;line-height:20px;font-size:11px;text-align:center;color:#666;cursor:pointer;}
.m-pd .u-pre,.m-pd .u-next{width:30px;background-color:#9dd8b1;color:#fff;}
.m-pd .u-next{margin-right:0px;}
.m-pd li:hover{background-color:#9dd8b1;color:#fff;}
.m-pd .z-crt{color:#39a030;}
/* 机构介绍 */
.m-intro{width:223px;height:229px;margin-top:84px;border-bottom:1px solid #d4d3d3;box-shadow:0 1px 0 1px #ecebeb;background-color:#fff;}
.m-intro h3{height:55px;line-height:55px;padding-left:11px;border-bottom:1px solid #ddd;font-size:16px;color:#333;}
.m-intro h4{margin:21px 0 9px 22px;font-size:13px;color:#666;}
.m-intro .m-poster{margin-left:22px;cursor:pointer;}
/* 最热排行 */
.m-hot{width:223px;margin-top:19px;border-bottom:1px solid #d4d3d3;box-shadow:0 1px 0 1px #ecebeb;background-color:#fff;}
.m-hot:hover{border-right:1px solid #cccacb;}
.m-hot h3{padding:20px;font-size:17px;color:#333;border-bottom:1px solid #eee;}
.m-hbox{height:720px;overflow:hidden;}
.m-list{width:183px;height:50px;margin:20px 20px 0;cursor:pointer;}
.m-list .pic3{float:left;height:50px;width:88px;}
.m-list .pic3 img{width:100%;height:100%;}
.m-list h4{margin-left:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px;}
.m-list .num{margin-top:12px;margin-left:100px;}
.m-list .num p{margin-left:5px;font-size:11px;color:#999;}
/* 尾部 */
.m-cprt{display:inline-block;float:left;margin:90px 50px;}
.m-cprt h2{width:240px;height:25px;text-indent:-9999px;background-position:-6px -64px;}
.m-cprt p{margin-top:22px;line-height:24px;color:#abadb0;}
.m-other .more, .m-other .us, .m-other .link{float:right;}
.m-other li{display:block;}
.m-other div{margin-top:80px;}
.m-other .more{margin-right:6px;}
.m-other .us{margin-right:72px;}
.m-other .link{margin-right:98px;}
.m-other h4{margin-bottom:8px;font-size:13px;color:#8b8f92;}
.m-other a{font-size:14px;line-height:28px;color:#8b8f92;}
.m-other .u-weibo span{width:32px;height:17px;vertical-align:text-top;}
/* 登录和视频窗口 */
.m-mask{position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;background-color:#000;opacity:0.8;}
.m-log,.m-video{position:fixed;left:50%;top:50%;transform:translate(-50%,-50%);z-index:200;background-color:#fff;}
.m-log{width:387px;height:288px;}
.m-video{width:950px;}
.z-close{display:inline-block;float:right;width:24px;height:24px;border:0;background-position:-58px -1px;cursor:pointer;}
.m-log h3{margin:20px 39px;font-size:18px;color:#444;}
.m-log .u-ipt1,.m-log .u-ipt2{width:284px;height:43px;margin-left:39px;padding-left:9px;border:1px solid #dfdfdf;box-shadow:inset 2px 2px #f1f1f1;font-size:16px;background-color:#fafafa;}
.m-log .u-ipt1{margin-bottom:15px;}
.m-log .u-btn{width:295px;height:48px;margin-left:39px;margin-top:19px;border:0;font-size:16px;color:#fff;}
.m-log .z-err{margin-left:39px;color:#f00;}
.m-video h3{margin:29px 0 22px 20px;font-size:18px;color:#444;}
.m-video video{width:890px;margin:0 31px 40px;}
/* 功能 */
.f-dn{display:none;}
.f-wm{width:1208px;margin:0 auto;}
.f-vh{visibility:hidden;}
.f-cb:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
/* 响应式 */
@media screen and(max-width:1205px){
	.f-wm{width:965px;}
	.m-menu li{width:173px;padding-left:102px;}
	.study, .mooc{margin-left:70px;}
	.m-tab{margin-right:335px;}
	.classbox{width:965px;}
	.m-cprt{margin-left:6px;}
}
/* 解决页面宽度过小的bug */
@media screen and(max-width:964px) {
	.g-doc{width:964px;}
}
